<%- layout("/layouts/boilerplate") %>

    <% let monthPrice=listing.price ; let dayPrice=Math.round((monthPrice/30) * 100) / 100; %>
        <% let Rent=days * dayPrice %>
            <% let tax=(Rent * 10) / 100; let totalRent=Rent + tax; %>

                <style>
                    .main-div {
                        display: flex;
                        flex-direction: row;
                        height: 100%;
                        justify-content: space-between;
                    }



                    .card {
                        height: 485px;
                        width: 390px;
                        border-radius: 25px;
                        padding: 20px;
                        margin-top: 20px;
                        margin-bottom: 30px;
                    }

                    .card-image img {
                        height: 100%;
                        width: 100px;
                        border-radius: 15px;
                        margin-right: 20px;
                    }

                    .card-image {
                        display: flex;
                    }

                    .price-list {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                    }


                    .upper-div {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        align-items: center;
                    }

                    .upper-div>a {
                        color: black;
                        max-width: 35px;
                        margin-left: -10px;
                    }

                    .upper-div>h3 {
                        margin-top: 5px;
                        width: 300px;
                        display: inline-block;
                    }

                    .trip-info {
                        width: 100%;
                        height: 160px;
                        margin-top: 50px;
                        padding: 20px;
                        margin-bottom: 60px;
                    }

                    @media (min-width:410px) and (max-width:991px) {
                        .main-div {
                            display: block;
                        }

                        .login-msg {
                            margin-bottom: 50px;
                            margin-left: 15px;
                        }
                    }

                    @media (max-width:410px) {
                        .main-div {
                            display: block;
                        }

                        .login-msg {
                            margin-bottom: 50px;
                            margin-left: 15px;
                        }

                        .card {
                            width: 90vw;
                        }
                    }
                </style>


                <div class="row mt-3 upper-div">
                    <a href="/listings/<%= listing._id %>"><i class="fa-solid fa-less-than"></i></a>
                    <h3>Confirm and pay</h3>
                </div>

                <div class="main-div">

                    <div class="card">
                        <div class="card-image">
                            <img src="<%= listing.image.url%>" alt="image" />
                            <div>
                                <h4>
                                    <%= listing.title %>
                                </h4>
                                <h6>Owned by: <%= listing.owner.username %>
                                </h6>
                            </div>
                        </div>
                        <div class="payment-info">
                            <hr>
                            <h5>Price details</h5>
                            <h6 style="margin-bottom: 15px;">Listed Price: <%=listing.price%>&#8377; /month </h6>
                            <h4>Your total-</h4>
                            <div class="price-list">
                                <div>
                                    <h5>per day price- </h5>
                                    <br><br>
                                    <h5>
                                        <%=days%> x <%= dayPrice%>
                                    </h5>
                                    <h6>Taxes:</h6>
                                    <hr>
                                    <h3>Total:</h3>
                                </div>
                                <div style="text-align: center;">
                                    <h5>
                                        <%= listing.price%>&#8377; / 30
                                    </h5>
                                    <h5>&nbsp;&nbsp;= <%= dayPrice %> &#8377;</h5>
                                    <br>
                                    <h6>&nbsp;&nbsp;&nbsp;&nbsp;<b>
                                            <%= Rent %>&#8377;
                                        </b></h6>
                                    <h6>&nbsp;&nbsp;&nbsp;&nbsp;<b>
                                            <%= tax %> &#8377;
                                        </b></h6>

                                    <hr>
                                    <h3>
                                        <%= totalRent %>&#8377;
                                    </h3>
                                </div>
                            </div>

                        </div>
                    </div>



                    <div class="info-div">
                        <div class="trip-info">
                            <h3>Your trip</h3><br>
                            <h5>Dates</h5>
                            <h5>
                                <%=daterange %>
                            </h5><br>
                            <hr class="line">
                        </div>

                        <% if(!currUser) { %>
                            <div class="login-msg">
                                <h2>Log in or sign up to book</h2><br>
                                <a href="/login" class="btn btn-dark"
                                    style="color: white; text-decoration:none; background-color: #fe424d; border:none">Login</a>
                                <a href="/signup" class="btn btn-dark"
                                    style="color: white; text-decoration:none; background-color: #fe424d; border:none; margin-left: 20px;">signup</a>
                            </div>
                            <% } %>

                                <% if(currUser) { %>
                                    <div class="booking-div">
                                        <form method="post" action="/listings/<%= listing._id%>/booking/new">
                                            <input type="hidden" name="checkIn" value="<%=startDate%>" />
                                            <input type="hidden" name="checkOut" value="<%=endDate%>" />
                                            <input type="hidden" name="totalRent" value="<%= totalRent %>" />
                                            <button class="btn btn-dark mb-5"
                                                style="background-color: #fe424d; border: none; margin-left: 30px;">Book</button>
                                        </form>
                                    </div>
                                    <% } %>
                    </div>


                </div>